* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.nav-bar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  margin-right: 20px;
}

.header-title {
  font-size: 24px;
}
