.mission-name-content {
  font-size: 15px;
  font-weight: 900;
}

.status-mission {
  text-align: center;
}

.join-mission {
  text-align: center;
}

.join-mission-btn {
  background-color: transparent;
  color: #f00;
  border: 1px solid #f00;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}

.active-member,
.not-member {
  color: #fff;
  padding: 4px;
  border-radius: 7px;
  font-size: 13px;
  font-weight: 700;
}

.active-member {
  background-color: rgba(78, 169, 255, 1);
}

.not-member {
  background-color: #3e3e3e;
}