* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  overflow-x: hidden;
}

.nav {
  background-color: rgb(218, 218, 218);
  margin-top: 0;
}

.nav-bar {
  display: flex;
  margin: 0 50px;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  margin: 10px 20px;
}

.header-title {
  font-family: 'Russo One', sans-serif;
  font-size: 24px;
}

hr {
  width: 100vw;
  margin: 0 auto;
  margin-bottom: 30px;
  color: rgba(62, 62, 62, 0.4);
}

@media screen and (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    margin: 10px 20px;
  }

  .header-title {
    font-size: 20px;
  }
}
